@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/functions";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: variables.$height-100vh;
}

html {
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: 400;
  font-family: variables.$font-main;
  color: variables.$color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // оптимизация выравнивания шрифта относительно центра строки
  text-rendering: optimizeLegibility;
  font-size: functions.size-html(variables.$screen-375);

  @include mixins.min-768 {
    font-size: 16px;
  }
}

body {
  height: 100%;

  display: flex;
  flex-direction: column;
  background-color: variables.$color-white;
}

.wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: variables.$height-100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  min-width: 100%;
}
