@use "../../assets/styles/utils/variables" as *;
@use "../../assets/styles/utils/mixins" as *;
@use "../../assets/styles/utils/functions" as *;

.container {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  padding: 0 pxToRem(16px);

  @include min-1024 {
    padding: 0 pxToRem(48px);
  }

  &--no-p {
    padding: 0;
  }
}
