---
// Data & Types

// Component
import Container from '@components/Container/Container'
import Main from '@layouts/Main/Main'
---

<Main title="Affarts — UX/UI, Дизайн, Разработка для ваших продуктов">
  <Container>
    <h1>Main page</h1>
  </Container>
</Main>
