@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/functions";

main {
  & > section[class*="bg-"]:last-child {
    margin-bottom: functions.pxToRem(100px);
  }

  @include mixins.min-1024 {
    & > section[class*="bg-"]:last-child {
      margin-bottom: functions.pxToRem(200px);
    }
  }
}

section {
  padding: variables.$btw-block-spacing-xl 0;
  border-radius: variables.$big-blocks-corner;

  &[class*="bg-"] + &[class*="bg-"] {
    margin-top: variables.$screen-padding;
  }

  &.hero + &,
  &:not([class*="bg-"]) + &:not([class*="bg-"]) {
    padding-top: 0;
  }
}
