@use "../utils/variables";
@use "../utils/mixins";
@use "../utils/functions";

.locked {
  overflow: hidden;
}

.locked-x {
  overflow-x: hidden;
}

.pt-header {
  padding-top: variables.$height-header;
}

.mt-header {
  margin-top: variables.$height-header;
}
