@use "tailwindcss/base" as tailwind_base;
@use "tailwindcss/components" as tailwind_components;
@use "tailwindcss/utilities" as tailwind_utilities;
@use "node_modules/swiper/swiper.scss";
@use "node_modules/splitting/dist/splitting.css";

// Fonts
@use "fonts";

// Base
@use "base/reset";
@use "base/base";
@use "base/typography";

// Animations
@use "animations/easing";
@use "animations/keyframe";

/*** Components ***/
@use "../../components/**/*";

// Layout
@use "layout/grid";
@use "layout/section";

// Other
@use "./other/**/*";
@use "wysiwyg";
